<%- include('partials/header') -%>
  <div class="container">
    <table class="min-w-full border-collapse block md:table">
      <thead class="block md:table-header-group">
        <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Location</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Description</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Name</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Completed</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Actions</th>
        </tr>
      </thead>
      <tbody class="block md:table-row-group">
        <% for(var i=0; i<posts.length; i++) {%>
          <% if (i===0||i%2===0) { %>
            <tr class="bg-white border border-grey-500 md:border-none block md:table-row">
              <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span><%= posts[i].title %></span></td>
              <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span><%= posts[i].caption %></span></td>
              <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span><%= posts[i].user %></span></td>
              <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><img class="img-fluid" src="<%= posts[i].image%>"></td>
              <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                <!-- make these buttons do something -->
                <a href="/post/<%= posts[i]._id%>"><button type='button' class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">View</button></a>
                
                <!-- add a button for add comments -->
                
              </td>
            </tr>
          <% } else {%>
            <tr class="bg-gray-300 border border-grey-500 md:border-none block md:table-row">
              <!-- add comments where applicable, here: gets submissions users name-->
              <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span><%= posts[i].title %></span></td>
              <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span><%= posts[i].caption %></span></td>
              <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span><%= posts[i].user %></span></td>
              <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><img class="img-fluid" src="<%= posts[i].image%>"></td>
              <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                <!-- make these buttons do something -->
                <a href="/post/<%= posts[i]._id%>"><button type='button' class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">View</button></a>
                
                <!-- add a button for add comments -->
                
              </td>
            <tr>
          <% } %>
        <% } %>	
      </tbody>
    </table>
    
  
<%- include('partials/footer') -%>

