<%- include('partials/header') -%>
<div class="container">
  <div class="flex flex-col items-center mt-5">
    <div class="card w-96 bg-white text-primary-content rounded-lg shadow-lg">
      <div class="card-body">
        <h2 class="card-title">Location: <%= post.title %></h2>
        <p><%= post.caption %></p>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <div class="card-actions justify-end">
          <button class="btn btn-primary fa fa-check" type="submit"></button>
          <%if(post.user == user.id){ %>
            <form
              action="/post/deletePost/<%= post.id %>?_method=DELETE"
              method="POST"
              class="col-3"
            >
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            <%}%>
        </div>
        <img class="img-fluid" src="<%= post.image%>" />
      </div>
    </div>
    
    <div class="col-6 mt-5 text-center">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
